{% extends "base.html" %}
{% block content %}
  <section class="section-header bg-secondary text-white">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Login</h1>
          {% if form.errors %}
            <p>Invalid credentials</p>
          {% endif %}
          <form action="{% url "login" %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Log in">
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
