<section class="section bg-secondary text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 mt-5">
        <h1>{{ object|yesno:"Update,Create" }} {{ type }}</h1>
        <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <br>
          <input class="btn btn-outline-info" type="submit" value="{{ object|yesno:"Update,Create" }}">
        </form>
        <br>
        {% if pk %}
          <a class="btn btn-outline-gray-100" href="{% url url_name pk=pk %}">Cancel</a>
        {% else %}
          <a class="btn btn-outline-gray-100" href="{% url url_name %}">Cancel</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
